.back{
    background-color: #f0f0f0;
  }
  .img{
  
   height: 60px;
   width: 120px;
   margin: 10px
  
  }
  .btn-size{
    width: 100%;
  }
  mat-card{
   margin: 0%;
   background-color: lavender;
   border-color: black;
   margin-top: 20px;
   margin-bottom: 20px;
  }
  .btn-size-small{
    min-width: 10px;
  }
  .label-small{
    width: 58%;
    text-align: center
  }
  
  