<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>

</style>

<!-- Toolbar -->
<div>
  <div class="toolbar" role="banner">

    <span class="title">ShoppingIcon</span>
    <a [routerLink]="['/dashboard']" class="home">Home</a>
    <div class="spacer"></div>
    <div class="cart" [routerLink]="['/cart']">
      <mat-icon>add_shopping_cart</mat-icon>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>